.portfolio {
    padding: 80px 0px;
    background-color: #EBEBEB;
    .container {
        max-width: 1170px;
    }
    &__intro {
        margin-bottom: 50px;
        .title {
            color: #050505;
        }
        .text {
            width: 65%;
            margin: 0 auto;
        }
    }
    &__content {
        &:after {
            clear: both;
        }
        &:before,&:after {
            content: "";
            display: table;
        }
    }
    &__item {
        float: left;
        width: 50%;
        padding: 0;
        &:nth-child(2n+1) {
            clear: both;
        }
        .item-wrap {
            position: relative;
            overflow: hidden;
            height: 380px;
            .overlay {
                transition: 0.5s;
                overflow: hidden;
                &:before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.8);
                    display: block;
                    color: #fff;
                    height: 100%;
                    width: 100%;
                    transition: all 0.5s ease-in-out;
                    opacity: 0;
                    visibility: hidden;
                }
                img {
                    transition: 0.3s;
                    height: 380px;
                    width: 100%;
                }
            }
            &:hover {
                transition: 0.5s;
                .overlay {
                    transition: 0.5s;
                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                    img {
                        transform: scale(1.05);
                    }
                }
                .details {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
                .repo-link {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
        .repo-link {
            position: absolute;
            top: 15px;
            right: 0;
            transform: translateY(100%);
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            font-family: "montserrat-bold", sans-serif;
            background-color: #fff;
            padding: 15px 25px;
            &:hover {
                color: #fff;
                background-color: inherit;
            }
        }
        .details {
            position: absolute;
            top: 35px;
            left: 35px;
            color: #fff;
            width: 50%;
            transform: translateY(100%);
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            font-family: "montserrat-bold", sans-serif;
            &__title {
                font-size: 20px;
                line-height: 1.4;
                margin-bottom: 10px;
                display: block;
            }
            &__desc {
                color: rgba(255, 255, 255, 0.7);
                font-size: 17px;
            }
        }
    }
}
@media screen and (max-width: 1024px){
    .portfolio {
        .container {
            max-width: 900px;
        }
        &__item {
            .item-wrap {
                height: 340px;
                .overlay {
                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .portfolio {
        .container {
            max-width: none;
        }
        &__intro {
            .text {
                width: 80%;
            }
        }
        &__item {
            .item-wrap {
                height: 300px;
                .overlay {
                    &::before {
                        opacity: 0.7;
                        visibility: visible;
                    }
                }
                .details {
                    width: 80%;
                    top: 80px;
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
                .repo-link {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
}
@media screen and (max-width: 540px){
    .portfolio {
        .container {
            max-width: none;
            padding: 0;
        }
        &__item {
            .item-wrap {
                height: 270px;
            }
            .repo-link {
                padding: 10px 25px;
            }
            .details {
                left: 15px;
                &__desc {
                    font-size: 15px;
                }
            }
        }
    }
}
@media screen and (max-width: 425px){
    .portfolio {
        &__intro {
            .text {
                width: 95%;
            }
        }
        &__item {
            width: 100%;
            float: none;
        }
    }
}
@media screen and (max-width: 375px){
    .portfolio {
        &__item {
            .item-wrap {
                .details {
                    width: 85%;
                }
            }
        }
    }
}
