<section class="skills" id="skills">
    <div class="container">
        <div class="skills__content">
            <div class="skills__intro section-intro">
                <h3 class="pre-title animate-this">Skillset</h3>
                <h1 class="title animate-this">I've Got Some Skills.</h1>
                <p class="text">During the learning process and performing educational and work projects
                I got hard skills in web development sphere. Gained an understanding of how the
                browser works and how HTTP protocol works, gained experience working with VCS and other useful technologies.
                </p>
            </div>
            <ul class="skills__bars">
                <li class="animate-this" data-animate="animate__fadeInRight">
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>HTML5</strong>
                </li>
                <li class="animate-this" data-animate="animate__fadeInRight">
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>CSS3</strong>
                </li>
                <li class="animate-this" data-animate="animate__fadeInRight">
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>JavaScript</strong>
                </li>
                <li class="animate-this" data-animate="animate__fadeInRight">
                    <div class="progress percent60"><span>60%</span></div>
                    <strong>Vue JS</strong>
                </li>
                <li class="animate-this" data-animate="animate__fadeInRight">
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>Webpack / Gulp</strong>
                </li>
                <li class="animate-this" data-animate="animate__fadeInRight">
                    <div class="progress percent50"><span>50%</span></div>
                    <strong>PHP</strong>
                </li>
            </ul>
        </div>
    </div>
</section>
