<section class="about" id="about">
    <div class="about__bg"></div>
    <div class="container">
        <div class="about__wrapper">
            <div class="about__profile">
                <div class="about__intro section-intro">
                    <h3 class="pre-title animate-this">About</h3>
                    <h1 class="title animate-this">More About Me.</h1>
                    <p class="text">
                        I like to make decisions on my own, but at the same time I understand the goals of the team and always focus on them.
                        I am always looking for opportunities for self-training.
                    </p>
                </div>
                <div class="about__content">
                    <p class="text">
                        I follow the development of the front-end and the IT community as a whole through social networks. I also broaden my horizons by reading articles (habr, blogs of individual community members), and watching video conferences.
                    </p>
                    <p class="text">
                        I have experience in web development - 1.5 years as a frontend developer, both independently and working in a team.
                        I strive to gain valuable experience and new knowledge in development by completing interesting and complex projects.
                        I quickly find a common language in a team, I work well in a team. I'm easy to learn and can understand other people's code.
                    </p>
                    <a href="#footer" class="button target-scroll">Contact Me</a>
                    <a href="/docs/MK-CV.pdf" download class="button button-primary">Download CV</a>
                </div>
            </div>
            <div class="about__hobby hobby">
                <div class="about__intro section-intro">
                    <h3 class="pre-title animate-this">Hobbies</h3>
                    <h1 class="title animate-this">What I Do</h1>
                    <p class="text">In addition to development, I enjoy a lot of activities and hobbies in my free time.</p>
                </div>
                <div class="about__content">
                    <div class="hobby__item animate-this" data-animate="animate__backInRight">
                        <div class="hobby__icon">
                            <i class="fa-solid fa-volleyball"></i>
                        </div>
                        <div class="hobby__desc">
                            <h4>Sports</h4>
                            <p>
                                I enjoy active sports: cycling, volleyball, running.
                                Cycling helps me focus on thoughts and ideas.
                            </p>
                        </div>
                    </div>
                    <div class="hobby__item animate-this" data-animate="animate__backInRight">
                        <div class="hobby__icon">
                            <i class="fa-solid fa-gamepad"></i>
                        </div>
                        <div class="hobby__desc">
                            <h4>Video Games</h4>
                            <p>I'm sure that video games develop concentration and perseverance.</p>
                        </div>
                    </div>
                    <div class="hobby__item animate-this" data-animate="animate__backInRight">
                        <div class="hobby__icon">
                            <i class="fa-solid fa-guitar"></i>
                        </div>
                        <div class="hobby__desc">
                            <h4>Music</h4>
                            <p>Playing the guitar since 9 years old provides me the way to beautiful music world with my favourite singers like Ed Sheeran, Rick Astley or Elvis Presley.</p>
                        </div>
                    </div>
                    <div class="hobby__item animate-this" data-animate="animate__backInRight">
                        <div class="hobby__icon">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <div class="hobby__desc">
                            <h4>Reading</h4>
                            <p>Some tech literature and imaginative literature I love so much. Dmitry Glukhovsky, Mario Puzo and Jason Shreier are recommended by me.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
