<header class="header" id="top">
    <div class="overlay"></div>
    <div class="gradient-overlay"></div>
    <div class="header__top">
        <div class="header__logo">
            <a href="index.html">Howdy</a>
        </div>
        <a class="menu-btn">
            <span class="menu-btn__text">Menu</span>
            <span class="menu-btn__icon"></span>
        </a>
        <nav class="menu-wrapper">
            <div class="menu-wrapper__top">
                <h3 class="menu-wrapper__title">MK</h3>
                <a class="menu-wrapper__close" title="close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 28 29" fill="none">
                        <rect x="2.125" y="0.455811" width="36" height="3" transform="rotate(45 2.125 0.455811)" fill="white"/>
                        <rect y="25.4558" width="36" height="3" transform="rotate(-45 0 25.4558)" fill="white"/>
                    </svg>
                </a>
            </div>
            <ul class="nav-list">
                <li><a class="target-scroll" href="#top" title="">Home</a></li>
                <li><a href="#about" class="target-scroll" title="">About</a></li>
                <li><a href="#skills" class="target-scroll" title="">Skills</a></li>
                <li><a href="#portfolio" class="target-scroll" title="">Works</a></li>
                <li><a href="#footer" class="target-scroll" title="">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__bottom banner">
        <div class="container">
            <div class="banner__content">
                <div class="banner__text">
                    <h3 class="animate-this hello" data-animate="animate__backInDown">Hello, World.</h3>
                    <h1 class="animate-this about-me" data-animate="animate__backInLeft">
                        I am Mikhail Kozlov. <br>
                        Frontend - developer <br>
                        Based in Russia.
                    </h1>
                    <div class="section-links">
                        <span>More <a href="#about" class="target-scroll">About Me</a></span>
                        <span>View <a href="#portfolio" class="target-scroll">My Works</a></span>
                        <span>Contact <a href="mailto:kozlov.mikhail.01@gmail.com">By Email</a></span>
                        <span>And<a href="https://t.me/mishaillllll">Telegram</a></span>
                    </div>
                </div>
            </div>
            <a href="#about" class="scroll-icon target-scroll">
                <i class="fa-solid fa-arrow-down"></i>
            </a>
        </div>
    </div>
</header>
