<header class="header" id="top">
    <div class="overlay"></div>
    <div class="gradient-overlay"></div>
    <div class="header__top">
        <div class="header__logo">
            <a href="index.html">Howdy</a>
        </div>
        <a class="menu-btn" href="#0">
            <span class="menu-btn__text">Menu</span>
            <span class="menu-btn__icon"></span>
        </a>
        <nav class="menu-wrapper">
            <a href="#0" class="menu-wrapper__close" title="close"><span>Close</span></a>
            <h3>Howdy.</h3>
            <ul class="nav-list">
                <li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
                <li><a href="#about" title="">About</a></li>
                <li><a href="#skills" title="">Skills</a></li>
                <li><a href="#credentials" title="">Experience</a></li>
                <li><a href="#portfolio" title="">Works</a></li>
                <li><a href="#stats" title="">Stats</a></li>
                <li><a href="#contact" title="">Contact</a></li>
            </ul>
            <ul class="header-social-list">
                <li>
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__bottom banner">
        <div class="container">
            <div class="banner__content">
                <div class="banner__text">
                    <h3 class="animate-this hello" data-animate="animate__backInDown">Hello, World.</h3>
                    <h1 class="animate-this about-me" data-animate="animate__backInLeft">
                        I am Mikhail Kozlov. <br>
                        Frontend - developer <br>
                        Based in Russia.
                    </h1>
                    <div class="section-links">
                        <span>More <a href="#about" class="target-scroll">About Me</a></span>
                        <span>View <a href="#portfolio" class="target-scroll">My Works</a></span>
                        <span>Contact <a href="mailto:kozlov.mikhail.01@gmail.com">By Email</a></span>
                        <span>And<a href="https://t.me/mishaillllll">Telegram</a></span>
                    </div>
                </div>
            </div>
            <a href="#about" class="scroll-icon target-scroll">
                <i class="fa-solid fa-arrow-down"></i>
            </a>
        </div>
    </div>
</header>
