<div class="preloader">
    <div class="loader"></div>
</div>
<footer class="footer">
    <div id="go-top">
        <a class="target-scroll" href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
    <div class="container">
        <div class="section-intro footer__intro">
            <h3 class="pre-title animate-this">Contact</h3>
            <h2 class="title animate-this">Feel Free to Contact Me.</h2>
        </div>
        <div class="contact">
            <div class="contact__item">
                <h5 class="contact__title">Email me at</h5>
                <a class="contact__link" href="mailto:kozlov.mikhail.01@gmail.com">kozlov.mikhail.01@gmail.com</a>
            </div>
            <div class="contact__item">
                <h5 class="contact__title">Text me at</h5>
                <a class="contact__link" href="https://t.me/mishaillllll">Telegram</a>
            </div>
            <div class="contact__item">
                <h5 class="contact__title">Call me at</h5>
                <p class="contact__link">+7 (902) 101 89 56</p>
            </div>
        </div>
    </div>
</footer>
